html, body{
    width: 100%;height: 100%;
}
.menu{
    width: 100%;
    height: auto;
    background-color: brown;
    text-align: center;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;

}
.menu a:hover{
    background-color: wheat;
    color: brown;
    border-radius: 5px;
    /* chỉnh màu chữ */
}
a.tinnoibat{
    width: 800px;
    height: auto;
    text-decoration: none; /* bỏ gạch chân */
    color: black;
    display: inline-block;

}
a.tinnoibat img{
    width: 500px;
    float: left; /* chữ ấy lại 1 bên*/
    margin-right: 15px;
}
a.tinnoibat h2{
    font-size: 35;
}
a.tinnoibat h2:hover{
    color: rgb(64, 62, 62);
}
a.tinnoibat p{
    font-size: 20px;
}
