.menu{
    width: 100%;
    height: auto;
    background-color: red;
    text-align: center;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
}
.menu img{
    width: 600px;
    margin-right: 15px;
    border-radius: 10px;
}